<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="connection.username">root</property>
    <property name="connection.password">83493233</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql:///hibernate?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    
    <!-- 
    <mapping class="onetoone_foreginkey.Students"/>
    <mapping class="onetoone_foreginkey.IdCard"/>
     -->
     <!-- 
     <mapping class="onetoone_doubleforeginkey.Students"/>
     <mapping class="onetoone_doubleforeginkey.IdCard"/> 
     -->
     
     <!-- 
     <mapping class="com.manytoone.foreginkey.Students"/>
     <mapping class="com.manytoone.foreginkey.ClassRoom"/>
      -->
      <!-- 
      <mapping class="com.onetomany.foreginkey.Students"/>
      <mapping class="com.onetomany.foreginkey.ClassRoom"/>
       -->
       
       <!-- 
       <mapping class="com.onetomany.doubleforeginkey.Students"/>
       <mapping class="com.onetomany.doubleforeginkey.ClassRoom"/>
            -->
            
       <mapping class="com.manytomany.foreginkey.Students"/>
       <mapping class="com.manytomany.foreginkey.Teacher"/>   
            
    </session-factory>
</hibernate-configuration>
